@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  overflow-x: hidden;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

h1{
  font-family: 'netmarbleB';
}


h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
}

@media (min-width:1460px) {
  .container {
    max-width: 1460px;
  }
}


.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

  /*헤더*/

  header{
    width: 100%;
    position: fixed;
    z-index: 99;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2.5px);

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .hd_all{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
  }
  .hd_all h1{
    width: 100%;
  }
  .hd_all h1 img{
    float: left;
    width: 70%;
  }
  .pc_menu{
    width: 60%;
    float: right;
  } 
  .pc_menu ul{
    display: flex;
    margin: auto;
    justify-content: space-between;
  }
  .pc_menu ul li{
    display: flex;
    align-items: center;
    color: #222;
  }
  .pc_menu ul li a{
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: all 0.1s ease-in-out;
  }
  .pc_menu ul li a:hover {
    color: #93cbff;
  }
  .login_menu {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
  }
  .line {
    height: 15px;
    margin-top: 3%;
    border-right: 0.12rem solid #888888;
  }
  .lan_page{
    background-color: #fff;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.3% 1.3%;
    border-radius: 150px;
    cursor: pointer;
    transition: all .1s ease-in-out;
  }
  .lan_page:hover {
    background-color: #18a3e8;
    color: #fff;
    text-decoration: none;
  }
  ._page:hover{
    background-color: #0e0e0e;
    color: #fff;
    border: 1px solid #fff;
    padding: 1% 4%;
  }
  [class*="btn-1"] {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 16px;
    max-width: 100px;
    vertical-align: middle;
  }
  .menu_p {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }
  
  
  /* 반응형 */
  .m_menu_wrap ul li a{
    text-decoration: none;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    transition: all 1s;
  }
  .menu-trigger:hover span{  background-color: #fff; }
  .menu-trigger span:nth-of-type(1) {  top: 5px; }
  .menu-trigger span:nth-of-type(2) {  top: 18px; }
  .menu-trigger span:nth-of-type(3) {  bottom: 0; }
  .menu-trigger.active-1 span:nth-of-type(1) {
    -webkit-transform: translateY (20px) rotate (-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  .menu-trigger.active-1 span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active-1 span:nth-of-type(3) {
    -webkit-transform: translateY(-18px) rotate(45deg);
    transform: translateY(-18px) rotate(45deg);
  }
  .m_menu{
    display: none;
    position: fixed;
    right: 10%;
    top: 6%;
    z-index:50;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
  }
  .m_menu_wrap{
    width: 95%;
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #3E54C8;
    z-index: 120;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(113, 132, 196);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  }
  .m_menu_wrap ul {
    padding: 6% 0 7%;
  }
  
  .m_menu_wrap ul li{
    margin-bottom: 8%;
  }
  .m_menu_wrap ul li a{
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
    transition: all .1s ease-in-out;
  }
  .m_menu_wrap ul li a:hover{
    font-weight: bold;
    color: #fff;
  }
  .m_menu_wrap .eng_page{
    background-color: transparent !important;
  }
  .m_menu_wrap .line {
    height: 1px;
    margin: 0 auto;
    border-right: 5rem solid #fff;
    margin-bottom: 5%;
  }
  .m_menu_wrap .login_menu {
    width: 100%;
    flex-direction: column;
    font-size: 0.8em;
  }
  .m_menu_wrap .lan_page {
    padding: 1.5% 9%;
    width: 50%;
    margin: 0 auto;
    transition: all .1s ease-in-out;
  }
  .m_menu_wrap .lan_page:hover{
    background-color: #1A4899;
    color: #fff;
  }
  .m_menu_wrap .lan_page a {
    color: #444;
    font-weight: 600;
  }

/* home */
#home {
  width: 100%;
  height: 1080px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
#home::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(180deg, #141A38 11.46%, rgba(3, 32, 62, 0) 100%);
  transform: rotate(-180deg);
  z-index: 300;
  bottom: 0;
  right: 0;
}

.main_vid video {
  position: absolute;
  width: 1920px;
  height: 1080px;
}

.main_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  height: 90%;
}

#home .main_area {
  width: 100%;
  z-index: 10;
}
.home_info {
  margin-bottom: 3%;
}
img.main_title {
  max-width: 55%;
}
.home_info p {
  color: #fff;
    font-size: 1rem;
    font-weight: 300;
    line-height: 160%;
    margin: 1.3% 0 0 0;
    text-align: left;
}
.links {
  width: 100%;
}
a.home_btn {
  color: #fff;
  padding: 1% 2%;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #FFF;
  backdrop-filter: blur(1px);
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  margin-right: 2%;
  font-weight: 100;
}
a.home_btn:hover {
  background: rgba(105, 153, 255, 0.4);
  background-blend-mode: hard-light;
  border: 1px solid #FFF;
}

#home .main_image {
  width: 60%;
  height: 100%;
  margin: 5% 0 0 0;
}
#home .main_image::after{
  content: "";
  width: 50%;
  height: 90%;
  background: url(../img/main_boy.gif) no-repeat bottom right;
  background-size: contain;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: scaleX(-1);
}
img.main_boy {
  max-width: 45vw;
  transform: scaleX(-1);
}

/* platform_btn */
#home .platform_btn {
  position: fixed;
  right: 5%;
  bottom: 4%;
  z-index: 990;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  backdrop-filter: blur(2.5px);
  padding: 0.8%;
  border-radius: 5000px;
  transition: all 0.3s ease;
}
#home .platform_btn a {
  color: #fff;
  text-decoration: none;
}
#home .platform_btn img {
  width: 90%;
  color: #fff;
}
#home .platform_btn:hover {
  cursor: pointer;
  background-color: #1A4899;
  box-shadow: 0px 2px 30px rgba(0, 0, 45, 0.25);
}
#home .platform_btn:hover a {
  color: #fff;
}

/* inspirations */
#inspirations {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10% 0;
  background-color: #141A38;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
#inspirations::after {
  content: '';
  clear: both;
  background: url(../img/insp_bg.png)no-repeat left;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
}
.insp_txt{
  color: #fff;
  padding-left: 2%;
  line-height: 170%;
}
.insp_txt h5 {
  font-size: 1.2rem;
}
.insp_txt p {
  font-weight: 200;
  letter-spacing: 0.03em;
}
#inspirations::before {
  content: '';
  background: url(../img/insp_logo.svg) no-repeat center;
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: contain;
}
#inspirations .insp_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#inspirations .insp_area .insp_img,
#inspirations .insp_area .insp_txt {
  width: 50%;
}
#inspirations .insp_area .insp_img {
  position: relative;
}
#inspirations .insp_area .insp_img img {
  width: 90%;
  border-radius: 5%;
  background: #0085FF;
  box-shadow: 0px 4px 50px rgba(123, 144, 255, 0.75);
  overflow: hidden;
}


/* roadmap */
#roadmap {
  background-color: #141F4A;
  padding: 10% 0 3% 0;
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

#roadmap::after {
  content: '';
  width: 1300px;
  height: 1300px;
  background: url(../img/rdmp_gradient.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 5%;
  left: 30%;
}


#roadmap .roadmap_area {
  position: relative;
  z-index: 10;
}

#roadmap .roadmap_area h3{
  text-align: center;
  position: relative;
}

#roadmap .roadmap_area h3::after{
  content: " ";
  width:50px;
  height:50px;
  background: url(../img/mrbc_symbol_s_new.png) no-repeat;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);

  /* 애니메이션 */
  animation: simbol 1s linear infinite;
}

@keyframes simbol{
  0%,100% {
    top:-60px;
  }
  50%{
    top:-70px;
  }
}



@keyframes up{
  0%,100% {
    top:-110px;
  }
  50%{
    top:-125px;
  }
}

#roadmap .roadmap_area .road_box {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

#roadmap .road_box .road_card.left {
  margin-top: -75px;
}

#roadmap .road_box .road_card.right{
  margin-top: 10%;
  margin-bottom: -30px;
}

#roadmap .road_box>div {
    width: 47.44%;
}

#roadmap .road_card .card {
  background: linear-gradient(#090C19, #000C37);
  box-shadow: 0px 3px 59px 0 rgb(0 0 0 / 10%);
  margin-bottom: 103px;
  padding: 60px 30px;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  transition: 0.4s;
  cursor: url(../img/cursor.png), auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  color: #fff;
}

#roadmap .road_card .card:hover{
  padding: 60px 30px 205px;
}

#roadmap .road_card .card.box4:hover{
  padding: 60px 30px 255px;
}

#roadmap .road_card .card.box1::before {
  position: absolute;
  bottom: -260px;
  right: 0;
  content: '';
  display: block;
  background: url(../img/lv.1/6.MarineBelugaBoy.png)no-repeat;
  background-size: cover;
  width: 260px;
  height: 260px;
  z-index: 99;
  transform: scaleX(-1);
  transition: .5s ease-in-out;
}

#roadmap .road_card .card.box2::before {
  position: absolute;
  bottom: -260px;
  right: 0;
  content: '';
  display: block;
  background: url(../img/lv.1/18.MarineConchBoy.png)no-repeat;
  background-size: cover;
  width: 260px;
  height: 260px;
  z-index: 99;
  transform: scaleX(-1);
  transition: .5s ease-in-out;

}

#roadmap .road_card .card.box3::before {
  position: absolute;
  bottom: -260px;
  right: 0;
  content: '';
  display: block;
  background: url(../img/lv.1/5.MarineDumboOctopusBoy.png)no-repeat;
  background-size: cover;
  width: 260px;
  height: 260px;
  z-index: 99;
  transform: scaleX(-1);
  transition: .5s ease-in-out;
}

#roadmap .road_card .card.box4{
  padding: 60px 30px 150px;
}

#roadmap .road_card .card.box4::before {
  position: absolute;
  bottom: -260px;
  right: 0;
  content: '';
  display: block;
  background: url(../img/lv.1/15.MarineMantaRayBoy.png)no-repeat;
  background-size: cover;
  width: 260px;
  height: 260px;
  z-index: 99;
  transform: scaleX(-1);
  transition: .5s ease-in-out;

}

#roadmap .road_card .card:hover.box1::before, #roadmap .road_card .card:hover.box2::before,#roadmap .road_card .card:hover.box3::before, #roadmap .road_card .card:hover.box4::before {
  bottom: -1px;
}


#roadmap .road_card .card h4 {
  width: 15%;
  padding:5px;
  display: block;
  background: #D0ECFF;
  border: 2px solid #0198EF;
  border-radius: 30px;
  text-align: center;
  color: #0198EF;
  margin-bottom: 30px;
}

#roadmap .road_card .card ul li{
  line-height: 2;
}




/*gallery*/


#gallery {
  width: 100%;
  position: relative;
  background-color: #141F4A;
  text-align: center;
  overflow: hidden;
}


.glallery_wrap {
  width: 100%;
  position: relative;
  padding: 170px 0 295px;
}


.glallery_wrap::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom:0;
  background: url(../img/mrbcNft_bg.png) no-repeat center;
  background-size: cover;
  z-index: 0;
}

.swiper-container.mySwiper2  {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  will-change: transform;
  position: relative;
  z-index: 5;
  margin-top: 6.5%;
}

.mySwiper2 .swiper-wrapper{
  width: 100%;
  transition-timing-function: linear !important;
}

.mySwiper2 .swiper-slide {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid #8CB3FF;
  width: 240px !important;
  height: 350px !important;
  background-color: rgba(255,255,255,.2);
  border-radius: 150px;
  overflow: hidden;
  box-shadow: 0 0 25px #0D4BCF;
  -webkit-box-shadow: 0 0 25px #0D4BCF;
}

.mySwiper2 .swiper-slide img{
  max-height: 100%;
  -webkit-user-drag : none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
} 

.gallery_button{
  width: 150px;
  margin: 0 auto;
  position: relative;
  z-index:10;
  bottom: -100px;
}

.gallery_button button.gllry_button{
  display: inline-block;
  width: 100%;
  padding: 7%;
  border: 2px solid #fff;
  background-color: rgba(217,217,217,.1);
  color: #fff;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}


/* .gallery_button button.gllry_button:focus{
  outline: none;
}

.wave_btn {
  opacity: .9;
  position: absolute;
  bottom: 3%;
  left: 50%;
  background: #01A2FD;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-bottom: -301px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  transition-duration: 0.75s;
  transition-property: margin-bottom;
  transition-timing-function: ease;
  z-index: -1;
}

.gllry_button:hover .wave_btn {
  margin-bottom: -250px;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

 */


/*footer*/

footer{
  background-color: #020818;
  width: 100%;
  padding: 60px 0;
  color: #fff;
}
.footer_wrap{
  width: 100%;
}
.footer_content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.footer_cont_left{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_cont_left .f_cont_left_logo{
  width: 30%;
  margin-right: 12%;
}
.footer_cont_left .f_cont_left_logo a{
  width: 100%;
  display: inline-block;
}
.footer_cont_left .f_cont_left_logo a img{
  max-width: 100%;
}
.f_cont_left_info{
  width: 100%;
}
.email {
  margin-bottom: 0 !important;
}
.f_cont_left_info h5{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom:7%;
}
.f_cont_left_info p{
  font-size: 0.8em;
}
.f_cont_left_info span{
  font-weight: 600 !important;
}

.footer_cont_right{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer_cont_right a{
  display: inline-block;
  background-color: rgba(255,255,2555,.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  margin-right: 5%;
  transition: all 0.5s;
  color: #fff;
  text-decoration: none;
}
.footer_cont_right a:last-child{
  margin-right: 0 !important;
}
.footer_cont_right a.terms{
  width: 150px;
  border-radius: 30px;
}
.footer_cont_right a:hover{
  background-color: #000e4b;
  box-shadow: 0 0 9px #01187c;
}


/*bubble*/

#background-wrap {
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 0;
}


@-webkit-keyframes animateBubble {
  0% {      margin-top: 1000px;  }
  100% {      margin-top: -100%;  }
}
@-moz-keyframes animateBubble {
  0% {      margin-top: 1000px;  }
  100% {      margin-top: -100%;  }
}
@keyframes animateBubble {
  0% {      margin-top: 1000px;  }
  100% {      margin-top: -100%;  }
}
@-webkit-keyframes sideWays { 
  0% {       margin-left:0px;  }
  100% {       margin-left:50px;  }
}
@-moz-keyframes sideWays { 
  0% {     margin-left:0px;  }
  100% {       margin-left:50px;  }
}
@keyframes sideWays { 
  0% {       margin-left:0px;  }
  100% {       margin-left:50px;  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 10%;
top: 5%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 5%;
top: 80%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 10%;
top: 40%;

-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 20%;
top: 0;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 30%;
top: 50%;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: -20%;
top: 0;

-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 65%;
top: 70%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 80%;
top: 10%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 90%;
top: 50%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 80%;
top: 80%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

/* OBJECTS */

.bubble {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 5px 10px 3px rgba(255, 255, 255, 1);
-moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 5px 10px 3px rgba(255, 255, 255, 1);
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 0px 5px 10px 3px rgba(255, 255, 255, 1);
height: 80px;
position: absolute;
width: 80px;
}



.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 90%); 
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.1)), color-stop(90%,rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 90%); 
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 90%); 
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 90%); 
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 90%); 
/*   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );  */


-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;

-webkit-box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.1);
-moz-box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.1);
box-shadow: inset 0 10px 30px rgba(255, 255, 255, 0.1);

content: "";
height: 50px;
left: 10px;
position: absolute;
width: px;
left: 10px;
top: 10px;
}





