*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}


    #ecosystem .ecosystem_top ol li p {
      width: 85%;
  }

    
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
}



/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
