/*데탑*/
@media screen and (max-width:1440px) {

  /* home */
  .changing.swiper-slide-active .img-wrap, .changed.swiper-slide-active .img-wrap {
    transform: scale(3.3);
  }
  #home .home_info {
    width: 100%;
  }
  .home_info {
    margin-bottom: 5%;
  }
}



/*노트북*/
@media screen and (max-width:1024px) {

   /* home */
   .main_wrap {
    padding: 0 5%;
    height: 75%;
  }
  #home .main_image::after {
    width: 60%;
  }


  /*inspiration*/

  #inspirations::after {
    bottom: -25%;
    left: -16%;
  }


  /* roadmap */

  #roadmap::before {
    width: 65%;
  }

  #roadmap {
    padding: 15% 0;
  }

  #roadmap .road_card .card h4 {
    width: 20%;
  }


  /*gallery*/

  .glallery_wrap {
    padding: 100px 0 200px;
  }

  .swiper-container {
    margin-top: 10%;
  }


  /*footer*/

  .footer_cont_left .f_cont_left_logo {
    width: 50%;
  }

  .f_cont_left_info p {
    font-size: 0.7em;
  }

  .footer_cont_right {
    width: 40%;
  }

}



/*아이패드 (768px)*/
@media screen and (max-width:991px) {
   /* 모바일 메뉴 전환 */
   .pc_menu{
    display: none;
  }
  .m_menu{
    display: block;
  }
  .links a.btn-hover{
    width: 26%;
    padding: 1.5%;
  }
  .m_menu{
    top: 30%;
  }
  .m_menu_wrap {
    width: 45%;
  }

  /* home */
  .main_wrap {
    padding: 0 0 0 5%;
    height: 75%;
  }

  #home .main_image::after {
    width: 70%;
  }

  /* inspirations */
  #inspirations {
    padding: 20% 0;
  }

    /*inspiration*/

    #inspirations::after {
      bottom: -15%;
      left: -40%;
    }
  

  /* roadmap */
  #roadmap {
    padding: 27% 0;
  }


  #roadmap .road_card .card h4 {
    width: 33%;
  }


  #roadmap .road_card .card.box1::before,
  #roadmap .road_card .card.box2::before,
  #roadmap .road_card .card.box3::before,
  #roadmap .road_card .card.box4::before {
    width: 160px;
    height: 160px;
  }


  
  #roadmap::after{
    left: -20%; 
    width: 1500px;
    height: 1500px;
  }


  /*footer*/

  .footer_content {
    flex-direction: column;
  }


  .footer_cont_left {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .footer_cont_left .f_cont_left_logo {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;

  }

  .f_cont_left_info {
    width: 100%;
    margin-bottom: 5%;
  }


  .f_cont_left_info h5 {
    margin-bottom: 5%;
  }


  .footer_cont_right {
    width: 100%;
  }
}



/*모바일*/

@media screen and (max-width:767px) {
  /* header */
  .m_menu_wrap {
    width: 65%;
  }
  .m_menu_wrap ul li a {
    font-size: 1.2em;
}

  /* home */
  .main_wrap {
    padding: 23% 0 0 5%;
    flex-direction: column;
  }

  #home .main_image::after {
    width: 85%;
  }

  /* inspirations */
  .insp_area.container {
    flex-direction: column;
    text-align: center;
  }
  #inspirations .insp_area .insp_img, #inspirations .insp_area .insp_txt {
    width: 78%;
    position: relative;
    z-index: 10;
  }
  .insp_area .insp_txt h3 {
    margin-top: 5%;
  }
  .container, .container-sm {
    max-width: 740px;
}

  .insp_txt br {
  display:  none;
}

    /*inspiration*/

    #inspirations::after {
      left: -20%;
    }



  /* roadmap */
  #roadmap .road_card .card h4 {
    font-size: 1rem;
  }

  #roadmap .road_box>div {
    width: 100%;
    font-size: 13px;
  }

  #roadmap .road_card .card.box1::before,
  #roadmap .road_card .card.box2::before,
  #roadmap .road_card .card.box3::before,
  #roadmap .road_card .card.box4::before {
    width: 200px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
  }

}


/*모바일2*/


@media screen and (max-width:576px) {
  /* home */

  #home{
    height: 900px;
  }

  .main_wrap {
    padding: 40% 0 0 3%;
  }
  #home .main_image::after {
    width: 100%;
  }



      /*inspiration*/

      #inspirations::after {
        bottom: 0;
        left: 0;
        background-size: cover;
      }


  /* roadmap */
  #roadmap .road_card .card h4 {
    width: 33%;
  }
  #roadmap {
    padding: 38% 0;
  }
  #roadmap::before {
    width: 100%;
  }
  #roadmap .road_card .card.box1::before,
  #roadmap .road_card .card.box2::before,
  #roadmap .road_card .card.box3::before,
  #roadmap .road_card .card.box4::before {
    width: 160px;
    height: 160px;
  }
  #roadmap::after{
    left: -80%; 
  }

  /*gallery*/
  .swiper-container {
    margin-top: 16%;
  }

  /*footer*/
  .f_cont_left_info {
    margin-bottom: 7%;
  }

}



/*모바일3 갤럭시*/

@media screen and (max-width:425px) {

}



/*모바일4 아이폰*/
@media screen and (max-width:375px) {
  /* home */
  .main_wrap {
    padding: 45% 0 0 3%;
  }
  /* inspirations */s
  .insp_area .insp_txt h3 {
    margin-top: 7%;
    font-size: 1.6rem;
  }
}